[Unit]
Description=Docker Nginx Environment
Requires=docker.service
After=docker.service

[Service]
Restart=always
Type=forking
ExecStart=/bin/bash /etc/docker-nginx/docker-nginx-start.sh
ExecStop=/bin/bash /etc/docker-nginx/docker-nginx-stop.sh

[Install]
WantedBy=default.target
