[Unit]
Description=Docker Nginx Environment
Requires=docker.service
After=docker.service

[Service]
Type=forking
RemainAfterExit=yes
Restart=always
ExecStart=/bin/bash /etc/docker-nginx/docker-nginx.sh start
ExecStop=/bin/bash /etc/docker-nginx/docker-nginx.sh stop

[Install]
WantedBy=default.target
